<div class="row">
    <div class="col-md-5">
        <form action=""></form>
            <form [formGroup]="this.customerService.form">
                <input type="hidden" formControlName="$key">
                <div class="form-group">
                    <label>Full name </label>
                    <input formControlName="fullName" class="form-control">
                </div>
                
            </form>
    </div>
    <div class="col-md-7">
        <app-customer-list></app-customer-list>
    </div>
</div>